* {
  box-sizing: border-box;
}
.App {
  margin: 0;
  padding: 0;
}
.topText {
  margin: 0;
}

.basic {
  margin: 0;
  border: 1px solid red;
}

.beerList {
  padding: 16px;
}
.beerDataCard {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}